modules {
  module {
    name = "app_requests"
    language = "python"
  }
}

collection_group {
  collect_every = 10
  time_threshold = 20
  metric {
    name = "app_requests"
    title = "Application requests"
    value_threshold = 10
  }
}
