modules {
  module {
    name = "app_requests"
    language = "python"
  }
}

collection_group {
  collect_every = {{ app_collection_time }}
  time_threshold = {{ app_time_threshold }}
  metric {
    name = "app_requests"
    title = "Application requests"
    value_threshold = {{ app_value_threshold }}
  }
}
