modules {
  module {
    name = "{{ app.name }}"
    language = "python"
  }
}

collection_group {
  collect_every = {{ app.collection_time }}
  time_threshold = {{ app.time_threshold }}
  metric {
    name = "{{ app.name }}"
    title = "Application requests"
    value_threshold = {{ app.value_threshold }}
  }
}
