<VirtualHost *:443>
    ServerName {{ fqdn }}
    SSLEngine on
    SSLCertificateFile "{{ ssl_cert_certpath }}"
    SSLCertificateKeyFile "{{ ssl_cert_keypath }}"

    ProxyPass /  http://{{ monit_webinterface_bind }}:{{ monit_webinterface_port }}/ 
    ProxyPassReverse /  http://{{ monit_webinterface_bind }}:{{ monit_webinterface_port }}/
    <Location />
         Order deny,allow
         Allow from all
    </Location>
</VirtualHost>
