<VirtualHost *:80>
    ServerName {{ fqdn }}

    ProxyPass /  http://{{ monit_webinterface_bind }}:{{ monit_webinterface_port }}/ 
    ProxyPassReverse /  http://{{ monit_webinterface_bind }}:{{ monit_webinterface_port }}/
    <Location />
         Order deny,allow
         Allow from all
    </Location>
</VirtualHost>
