<VirtualHost *:443>
  DocumentRoot /var/www/html
  ServerName {{ fqdn }}

  SSLEngine on
  SSLHonorCipherOrder On
  SSLCompression off
  SSLCertificateFile {{ ssl.cert.path.cert }}
  SSLCertificateKeyFile {{ ssl.cert.path.key }}
{% if ssl_cert_certchainpath is defined %}
  SSLCertificateChainFile {{ ssl.cert.path.certchain }}
{% endif %}
</VirtualHost>
